@model IEnumerable<Client.DAO.NhaXuaBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Tên Nhà Xuất Bản
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
        Điện Thoại
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNXB }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNXB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNXB })
        </td>
    </tr>
}

</table>
